Repository TUDelft-MUDE/2024-files: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-draft-students, deploy-teachers, deploy-production-students

.gitlab-ci.yml:

image: python:3.9

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.pip-cache"
  WEBHOOK_URL: "https://mude.citg.tudelft.nl/hooks"
  WEBHOOK_TOKEN: "glpat-Lohnt8MN6nWzpcwyhprL"
  GIT_STRATEGY: clone

cache:
  paths:
    - .pip-cache/

.setup_env:
  before_script:
    - apt-get update && apt-get install -y curl git
    - pip install jupytext nbconvert

stages:
  - setup
  - sync
  - update_repo
  - deploy

setup:
  stage: setup
  extends: .setup_env
  script:
    - echo "Dependencies installed successfully"
  artifacts:
    paths:
      - .pip-cache/

sync_notebooks:
  stage: sync
  extends: .setup_env
  script:
    - mkdir -p synced_files
    - |
      for notebook in $(find ./src -name "*.ipynb"); do
        relative_path=${notebook#./src/}
        synced_dir="synced_files/$(dirname $relative_path)"
        mkdir -p "$synced_dir"
        
        # Convert to various formats
        jupytext --to notebook "$notebook" -o "${synced_dir}/$(basename ${notebook%.ipynb}).ipynb"
        jupytext --to markdown "$notebook" -o "${synced_dir}/$(basename ${notebook%.ipynb}).md"
        jupytext --to py:percent "$notebook" -o "${synced_dir}/$(basename ${notebook%.ipynb}).py"
        
        # Strip outputs from the notebook
        jupyter nbconvert --ClearOutputPreprocessor.enabled=True --to notebook --inplace "${synced_dir}/$(basename $notebook)"
      done
  artifacts:
    paths:
      - synced_files/

update_repo:
  stage: update_repo
  extends: .setup_env
  script:
    - git config user.name "GitLab CI"
    - git config user.email "gitlab-ci@example.com"
    - git add synced_files/
    - |
      if [ -n "$(git status --porcelain)" ]; then
        git commit -m "Update synced files [skip ci]"
        git push "https://oauth2:${GIT_PUSH_TOKEN}@gitlab.tudelft.nl/${CI_PROJECT_PATH}.git" HEAD:$CI_COMMIT_REF_NAME
      else
        echo "No changes to commit"
      fi

deploy-draft-students:
  stage: deploy
  extends: .setup_env
  script:
    - |
      curl -X POST "${WEBHOOK_URL}/files-sync-students-draft" \
        -H "Content-Type: application/json" \
        -H "X-Gitlab-Token: ${WEBHOOK_TOKEN}" \
        -d '{
          "object_kind": "pipeline",
          "object_attributes": {
            "status": "success",
            "ref": "main"
          }
        }'
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - src/students/**/*
      when: always

deploy-teachers:
  stage: deploy
  extends: .setup_env
  script:
    - |
      curl -X POST "${WEBHOOK_URL}/files-sync-teachers" \
        -H "Content-Type: application/json" \
        -H "X-Gitlab-Token: ${WEBHOOK_TOKEN}" \
        -d '{
          "object_kind": "pipeline",
          "object_attributes": {
            "status": "success",
            "ref": "main"
          }
        }'
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - src/teachers/**/*
      when: always

deploy-production-students:
  stage: deploy
  extends: .setup_env
  script:
    - |
      curl -X POST "${WEBHOOK_URL}/files-sync-students" \
        -H "Content-Type: application/json" \
        -H "X-Gitlab-Token: ${WEBHOOK_TOKEN}" \
        -d '{
          "object_kind": "pipeline",
          "object_attributes": {
            "status": "success",
            "ref": "release"
          }
        }'
  rules:
    - if: $CI_COMMIT_BRANCH == "release"
      changes:
        - src/students/**/*
      when: always

add files to teachers
  src/teachers/Week_2_4/WS_2_4_Atmospheric_Pressure.html
  src/teachers/Week_2_4/WS_2_4_files_for_review.zip
  src/teachers/Week_2_4/WS_2_4_solution.html
Due: deploy-teachers

Robert want to shame me
  content/Week_2_4/generate_data(pls_dont_look here).ipynb
Due: none

Remove unnecessary GA operators from import
  content/GA_2_5/old_Analysis_GA_solution.ipynb
Due: none

Remove redundant variables: extension_max_no and timelimit
  content/GA_2_5/old_Analysis_GA_solution.ipynb
Due: none

Remove redundant variable: beta (redefined in ta_qp)
  content/GA_2_5/old_Analysis_GA_solution.ipynb
Due: none

Remove redundant variables: cap_normal, cap_extend, dests, origs, and demand (redefined in ta_qp)
  content/GA_2_5/old_Analysis_GA_solution.ipynb
Due: none

implemented serge feedback
  content/Week_2_4/WS_2_4_Atmospheric_Pressure.ipynb
  content/Week_2_4/WS_2_4_solution.ipynb
Due: none

Update Budget from 76 to 40 for consistency with LP comparison
  content/GA_2_5/old_Analysis_GA_solution.ipynb
Due: none

Add comment to guide students on changing the crossover operator type
  content/GA_2_5/old_Analysis_GA_solution.ipynb
Due: none

WS 2.4
  content/Week_2_4/WS_2_4_Feel_the_Pressure.ipynb
  content/Week_2_4/WS_2_4_solution.ipynb
  src/students/Week_2_4/WS_2_4_Feel_the_Pressure.html
  src/students/Week_2_4/WS_2_4_Feel_the_Pressure.zip
  src/teachers/Week_2_4/WS_2_4_Feel_the_Pressure.html
  src/teachers/Week_2_4/WS_2_4_Feel_the_Pressure.zip
  src/teachers/Week_2_4/WS_2_4_solution.html
Due: deploy-draft-students, deploy-teachers, deploy-production-students

GA 2.3 solution
  content/GA_2_3/Analysis_solution.ipynb
  src/students/GA_2_3/Analysis_solution.html
Due: deploy-draft-students, deploy-production-students

W.2.5 ready
  content/Week_2_5/WS_2_5_Profit_vs_Planet.ipynb
  content/Week_2_5/WS_2_5_solution.ipynb
Due: none

WS 2.4 finished
  content/Week_2_4/WS_2_4_solution.ipynb
  src/students/Week_2_4/WS_2_4_solution.html
Due: deploy-draft-students, deploy-production-students

Remove unnecessary red message boxes
  content/GA_2_5/old_Analysis_GA_solution.ipynb
Due: none

update solution
  content/Week_2_4/WS_2_4_solution.ipynb
  src/students/Week_2_4/WS_2_4_solution.html
Due: deploy-draft-students, deploy-production-students

add PA readme
  content/Week_2_4/PA/README.md
  src/students/Week_2_4/README.html
Due: deploy-draft-students, deploy-production-students

added feedback ga2.3
  src/students/GA_2_3/Feedback.html
Due: deploy-draft-students, deploy-production-students

Change color scheme from red to orange
  content/GA_2_5/old_Analysis_GA_solution.ipynb
Due: none

Rename variable Budget to extension_max_no for consistency with LP
  content/GA_2_5/old_Analysis_GA_solution.ipynb
Due: none

Update maximum computation time
  content/GA_2_5/old_Analysis_GA_solution.ipynb
Due: none

Add instruction box to guide students
  content/GA_2_5/old_Analysis_GA_solution.ipynb
Due: none

upload draft ga2_4
  content/GA_2_4/Analysis.ipynb
  content/GA_2_4/Analysis_solution.ipynb
  content/GA_2_4/CSIRO_Alt_seas_inc.txt
  content/GA_2_4/README.md
  content/GA_2_4/Report.md
  content/GA_2_4/ga_draft.ipynb
  content/GA_2_4/temperature.csv
Due: none

some updates
  content/GA_2_4/ga_draft.ipynb
Due: none

GA 2.4 draft files
  content/GA_2_4/README.md
  content/GA_2_4/ga_draft_tasks.ipynb
Due: none

done
  content/GA_2_4/ga_draft.ipynb
Due: none

GA 2.4 ready for review
  content/GA_2_4/GA_2_4_solution.ipynb
  content/GA_2_4/ga_draft.ipynb
  src/teachers/GA_2_4/GA_2_4_solution.html
  src/teachers/GA_2_4/README.zip
Due: deploy-teachers

GA 2.4 file fix
  src/teachers/GA_2_4/GA_2_4_files_for_review.zip
  src/teachers/GA_2_4/README.html
Due: deploy-teachers

Final stuff + creating student version
  content/GA_2_4/GA_2_4_Beary Icy.ipynb
  content/GA_2_4/GA_2_4_solution.ipynb
Due: none

refreshed the nb
  content/GA_2_4/GA_2_4_solution.ipynb
Due: none

GA 2.4 ready!
  content/GA_2_4/GA_2_4_Beary_Icy.ipynb
  content/GA_2_4/GA_2_4_solution.ipynb
  content/GA_2_4/README.md
  src/students/GA_2_4/GA_2_4_Beary_Icy.html
  src/students/GA_2_4/README.html
  src/teachers/GA_2_4/GA_2_4_Beary_Icy.html
  src/teachers/GA_2_4/GA_2_4_files_for_review.zip
  src/teachers/GA_2_4/GA_2_4_solution.html
Due: deploy-draft-students, deploy-teachers, deploy-production-students

GA 2.4 solution
  content/GA_2_4/GA_2_4_solution.ipynb
  src/students/GA_2_4/GA_2_4_solution.html
Due: deploy-draft-students, deploy-production-students

PA 2.5 ready
  content/Week_2_5/PA/PA_2_5_data_framework.ipynb
  content/Week_2_5/PA/PA_2_5_solution.ipynb
  content/Week_2_5/PA/README.md
  content/Week_2_5/PA/earth_dams.csv
  src/students/Week_2_5/README.html
Due: deploy-draft-students, deploy-production-students

Wed exercise 2.7 and possible dataset for Friday
  content/GA_2_7/precipitation.csv
  content/Week_2_7/WS_2_7_solution.ipynb
  content/Week_2_7/temp.csv
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

add test directory
  content/test/.gitkeep
Due: none

Upload New File
  content/test/Analysis_Solution.ipynb
Due: none

Update Analysis_Solution.ipynb
  content/test/Analysis_Solution.ipynb
Due: none

Added found_files flag Removed the else clause inside the loop Moved the "no notebooks" check outside the loop Changed exit code to 0 when no files found
  .gitlab-ci.yml
Due: none
