Repository TUDelft-MUDE/2024-files: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-draft-students, deploy-teachers, deploy-production-students

deploy-draft-students:
  stage: deploy
  script:
  ...

deploy-teachers:
  stage: deploy
  script:
  ...

deploy-production-students:
  stage: deploy
  script:
  ...

GA 1.6 ready for review
  content/GA_1_6/GA_1_6_an_ode_to_pde.ipynb
  content/GA_1_6/GA_1_6_solution.ipynb
  content/GA_1_6/figures/thermal_gradient.png
  src/teachers/GA_1_6/GA_1_6_an_ode_to_pde.html
  src/teachers/GA_1_6/GA_1_6_files_for_review.zip
Due: deploy-teachers

Squashed commit of the following:
  content/GA_1_3/Feedback.md
  content/GA_1_3/Report_solution.md
  content/GA_1_4/Feedback.md
  src/students/GA_1_3/Report_solution.html
  src/teachers/GA_1_3/Analysis_Solution.html
  src/teachers/GA_1_3/GA_1_3.zip
  src/teachers/GA_1_3/GA_1_3_files_for_review.zip
  src/teachers/GA_1_3/GA_1_3_solution_with_widget.zip
  src/teachers/GA_1_3/Report_solution.html
  src/teachers/GA_1_3/warmup/Warmup_README.html
  src/teachers/GA_1_3/warmup/Warmup_nb.html
  src/teachers/GA_1_3/warmup/warmup_1_3.zip
Due: deploy-draft-students, deploy-teachers, deploy-production-students

GA 1.6 copy()
  content/GA_1_6/GA_1_6_solution.ipynb
Due: none

GA 1.3 and 1.4 feedback
  src/students/GA_1_3/Feedback.html
  src/students/GA_1_4/Feedback.html
Due: deploy-draft-students, deploy-production-students

some spelling and initial condition edits
  content/GA_1_6/GA_1_6_an_ode_to_pde.ipynb
  content/GA_1_6/GA_1_6_solution.ipynb
Due: none

none
  content/GA_1_6/GA_1_6_solution.ipynb
Due: none

Updating GA_1_^6 and restoring the solution file as well
  content/GA_1_6/GA_1_6_an_ode_to_pde.ipynb
  content/GA_1_6/GA_1_6_solution.ipynb
Due: none

No I am really done, I have no clue what you mean by stencil
  content/GA_1_6/GA_1_6_solution.ipynb
Due: none

GA 1.6 update
  content/GA_1_6/GA_1_6_an_ode_to_pde.ipynb
  content/GA_1_6/GA_1_6_solution.ipynb
Due: none

GA 1.6 ready
  content/GA_1_6/Analysis.ipynb
  content/GA_1_6/Analysis_solution.ipynb
  content/GA_1_6/README.md
  content/GA_1_6/Report.md
  src/students/GA_1_6/Analysis.html
  src/students/GA_1_6/README.html
  src/students/GA_1_6/Report.html
  src/teachers/GA_1_6/Analysis.html
  src/teachers/GA_1_6/Analysis_solution.html
  src/teachers/GA_1_6/GA_1_6_all_files_for_students.zip
  src/teachers/GA_1_6/GA_1_6_all_files_for_teachers.zip
  src/teachers/GA_1_6/GA_1_6_files_for_review.zip
  src/teachers/GA_1_6/README.html
  src/teachers/GA_1_6/Report.html
Due: deploy-draft-students, deploy-teachers, deploy-production-students

update 5.4
  content/GA_1_6/GA_1_6_solution.ipynb
Due: none

GA 1.6 report_solution
  content/GA_1_6/Report_solution.md
Due: none

PA 1.7
  content/Week_1_7/PA/PA_1_7_solution.ipynb
Due: none

PA 1.7
  content/Week_1_7/PA/PA_1_7_Classy_Distributions.ipynb
  content/Week_1_7/PA/PA_1_7_solution.ipynb
  content/Week_1_7/PA/README.md
Due: none

PA 1.7 final
  content/Week_1_7/PA/README.md
  src/students/Week_1_7/PA_1_7_classy_distributions.html
  src/students/Week_1_7/README.html
Due: deploy-draft-students, deploy-production-students

Update 2 files
  .gitlab-ci.yml
  content/Week_1_7/test.txt
Due: none

Update file .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update 2 files
  content/Week_1_7/PA/test.txt
Due: none

Update file test.txt
  src/students/Week_1_7/test.txt
Due: deploy-draft-students, deploy-production-students

Update Report_solution.md
  content/GA_1_6/Report_solution.md
Due: none

GA 1.5 feedback and solution ready
  content/GA_1_5/Feedback.md
  content/GA_1_5/central_diff_illustration.ipynb
  content/GA_1_5/central_diff_illustration.svg
  src/students/GA_1_5/Feedback.html
  src/students/GA_1_5/central_diff_illustration.svg
Due: deploy-draft-students, deploy-production-students

Update file Report_solution.md
  content/GA_1_6/Report_solution.md
Due: none

WS 1.7 ready
  content/Week_1_7/WS07_solution.ipynb
  content/Week_1_7/WS_1_7_solution.ipynb
  content/Week_1_7/WS_1_7_student.ipynb
  content/Week_1_8/environment.yml
  src/teachers/Week_1_7/WS_1_7_all_files.zip
  src/teachers/Week_1_7/WS_1_7_student.html
Due: deploy-teachers

Slides 1.7
  src/students/Week_1_7/Lecture_1_7.pdf
Due: deploy-draft-students, deploy-production-students

Update 2 files
  .gitlab-ci.yml
  src/students/Week_1_7/test2.txt
Due: deploy-draft-students, deploy-production-students

modify sync to help verify if the .py can be checked
  .gitlab-ci.yml
Due: none

added python script inside the pipeline
  .gitlab-ci.yml
Due: none

add the algorithm to check changes
  .gitlab-ci.yml
Due: none

WS 1.7 solution no plots
  src/teachers/Week_1_7/WS_1_7_solution.html
Due: deploy-teachers

Nicer equations
  content/Week_1_7/WS_1_7_solution.ipynb
Due: none

fix html box size and latex rendering
  content/GA_1_7/Discharge/Distribution_Fitting_Disch.ipynb
  content/GA_1_7/Force/Distribution_Fitting_force.ipynb
  content/GA_1_7/emissions/Distribution_Fitting_emissions.ipynb
Due: none

remove solution number for consistency
  content/GA_1_7/Discharge/Distribution_Fitting_Disch.ipynb
  content/GA_1_7/Force/Distribution_Fitting_force.ipynb
  content/GA_1_7/emissions/Distribution_Fitting_emissions.ipynb
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Update 2 files
  src/teachers/Week_1_7/test2.txt
Due: deploy-teachers

added test text
  src/students/Week_1_7/test.txt
Due: deploy-draft-students, deploy-production-students

Update 4 files
  src/students/Week_1_7/test.txt
  src/students/Week_1_7/test2.txt
  src/students/Week_1_7/test_10_16.txt
  src/teachers/Week_1_7/test2.txt
Due: deploy-draft-students, deploy-teachers, deploy-production-students

Path conditions:
  deploy-draft-students: any of: src/students/**/*
  deploy-teachers: any of: src/teachers/**/*
  deploy-production-students: any of: src/students/**/*
