Repository TUDelft-MUDE/2024-files: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-draft-students, deploy-teachers, deploy-production-students

deploy-draft-students:
  stage: deploy
  script:
  ...

deploy-teachers:
  stage: deploy
  script:
  ...

deploy-production-students:
  stage: deploy
  script:
  ...

misc changes
  content/Week_1_6/PA/PA6-Challenges_A.py
Due: none

PA 1.6 prep
  content/Week_1_6/PA/PA_1_6_solution.ipynb
  content/Week_1_6/PA/README.md
Due: none

GA 1.5 solution
  src/students/GA_1_5/Analysis_solution.html
  src/students/GA_1_5/Report_solution.html
Due: deploy-draft-students, deploy-production-students

update notebook
  content/GA_1_7/Distribution_Fitting_HE.ipynb
Due: none

update report
  content/GA_1_7/Report.md
Due: none

rename
  content/GA_1_7/HE/Report_HE.md
Due: none

PA 1.6 nb
  content/Week_1_6/PA/A_mistake_that_shows_no_errors.py
  content/Week_1_6/PA/PA_1_6_solution.ipynb
  content/Week_1_6/PA/README.md
  content/Week_1_6/PA/Some_small_bugs.py
  content/Week_1_6/PA/figures/matrix01.svg
  content/Week_1_6/PA/figures/matrix02.svg
  content/Week_1_6/PA/script_01_small_bugs.py
  content/Week_1_6/PA/script_02_big_bug.py
  content/Week_1_6/PA/script_03_logical_bug.py
  content/Week_1_6/PA/script_test.py
  content/Week_1_6/PA/test.py
Due: none

notes
  content/PA_develop/README.md
Due: none

PA 1.6 ready
  content/Week_1_6/PA/PA_1_6_Boxes_and_Bugs.ipynb
  content/Week_1_6/PA/PA_1_6_solution.ipynb
  content/Week_1_6/PA/README.md
  content/Week_1_6/PA/auxiliary_files/justIce.csv
  content/Week_1_6/PA/auxiliary_files/matrix01.svg
  content/Week_1_6/PA/auxiliary_files/matrix02.svg
  content/Week_1_6/PA/blank.py
  content/Week_1_6/PA/script_01_small_bugs.py
  content/Week_1_6/PA/script_01_solution.py
  content/Week_1_6/PA/script_02_logical_bug.py
  content/Week_1_6/PA/script_02_solution.py
  content/Week_1_6/PA/script_03
  content/Week_1_6/PA/script_03_big_bug.py
  content/Week_1_6/PA/test.py
Due: none

PA 1.6 deploy
  content/Week_1_6/PA/README.md
  content/Week_1_6/PA/script_02_solution.py
  src/students/Week_1_6/README.html
Due: deploy-draft-students, deploy-production-students

Tutorial week 1_6 upload
  content/tutorials/Week_1_5/Tutorial.html
  content/tutorials/Week_1_5/Tutorial.ipynb
  content/tutorials/Week_1_5/data/data.csv
  content/tutorials/Week_1_5/harmonic_series.csv
  content/tutorials/Week_1_6/Tutorial.ipynb
  content/tutorials/Week_1_6/data.csv
  content/tutorials/Week_1_6/func.py
  content/tutorials/Week_1_6/func_error.py
  src/students/Tutorials/Week_1_6/Tutorial.ipynb
  src/students/Tutorials/Week_1_6/data.csv
  src/students/Tutorials/Week_1_6/func_error.py
Due: deploy-draft-students, deploy-production-students

changed name
  src/students/Tutorials/Week_1_6/func.py
Due: deploy-draft-students, deploy-production-students

I forgot to save
  content/tutorials/Week_1_6/Tutorial.ipynb
  src/students/Tutorials/Week_1_6/Tutorial.ipynb
Due: deploy-draft-students, deploy-production-students

add few sentences report
  content/GA_1_7/HE/Report_HE.md
Due: none

analysis of discharge
  content/GA_1_7/Discharge/Distribution_Fitting_Disch.ipynb
Due: none

report for discharge, typo in Force
  content/GA_1_7/Discharge/Report_disch.md
  content/GA_1_7/Force/Distribution_Fitting_force.ipynb
  content/GA_1_7/Force/Report_force.md
Due: none

solution to task 9 in force distr fitting
  content/GA_1_7/Force/Distribution_Fitting_force.ipynb
Due: none

partial update of temp notebook
  content/GA_1_7/Temp/Distribution_Fitting_T.ipynb
Due: none

add CO2 emissions and traffic case
  content/GA_1_7/emissions/Distribution_Fitting_emissions.ipynb
  content/GA_1_7/emissions/dataset_traffic.csv
Due: none

WS 1.6 ready for review
  content/Week_1_6/WS_1_6_solution.ipynb
  content/Week_1_6/WS_1_6_student.ipynb
  src/teachers/Week_1_6/WS_1_6_solution.html
  src/teachers/Week_1_6/WS_1_6_student.html
  src/teachers/Week_1_6/WS_1_6_student.ipynb
Due: deploy-teachers

add concrete compressive strength dataset for Wed session
  content/Week_1_7/dataset_concrete.csv
Due: none

update notebook for wednesday
  content/Week_1_7/WS07_solution.ipynb
Due: none

update solution and small task
  content/Week_1_6/WS_1_6_solution.ipynb
  content/Week_1_6/WS_1_6_student.ipynb
Due: none

WS 1.6 update files for review
  src/teachers/Week_1_6/WS_1_6_solution.html
  src/teachers/Week_1_6/WS_1_6_student.html
  src/teachers/Week_1_6/WS_1_6_student.ipynb
Due: deploy-teachers

Checked ws 1_6
  content/Week_1_6/WS_1_6_solution.ipynb
  content/Week_1_6/WS_1_6_student.ipynb
Due: none

WS 1.6 final?
  content/Week_1_6/WS_1_6_student.ipynb
  src/teachers/Week_1_6/WS_1_6_solution.html
  src/teachers/Week_1_6/WS_1_6_solution.ipynb
  src/teachers/Week_1_6/WS_1_6_student.html
  src/teachers/Week_1_6/WS_1_6_student.ipynb
Due: deploy-teachers

WS 1.6 final
  content/Week_1_6/WS_1_6_solution.ipynb
  content/Week_1_6/WS_1_6_time_to_c_ode.ipynb
  src/students/Week_1_6/WS_1_6_time_to_c_ode.html
  src/students/Week_1_6/WS_1_6_time_to_c_ode.ipynb
  src/teachers/Week_1_6/WS_1_6_solution.ipynb
  src/teachers/Week_1_6/WS_1_6_time_to_c_ode.html
  src/teachers/Week_1_6/WS_1_6_time_to_c_ode.ipynb
Due: deploy-draft-students, deploy-teachers, deploy-production-students

update lecture slides
  src/students/Week_1_6/Lecture_1_6.pdf
Due: deploy-draft-students, deploy-production-students

WS 1.6 final solution
  content/Week_1_6/WS_1_6_solution.ipynb
  src/students/Week_1_6/WS_1_6_solution.html
  src/teachers/Week_1_6/WS_1_6_solution.ipynb
Due: deploy-draft-students, deploy-teachers, deploy-production-students

update plot data
  content/Week_1_7/WS07_solution.ipynb
Due: none

update answer GA17 emissions
  content/GA_1_7/emissions/Distribution_Fitting_emissions.ipynb
Due: none

GA 1.6 draft
  content/GA_1_6/GA_1_6_solution.ipynb
  src/teachers/GA_1_6/GA_1_6_solution.html
  src/teachers/GA_1_6/GA_1_6_solution.ipynb
Due: deploy-teachers

fix typo
  content/Week_1_6/WS_1_6_solution.ipynb
Due: none

GA 1.6 jaime draft
  content/GA_1_6/GA_1_6_solution.ipynb
Due: none

WS 1.6 update solution
  src/students/Week_1_6/WS_1_6_solution.html
Due: deploy-draft-students, deploy-production-students

Path conditions:
  deploy-draft-students: any of: src/students/**/*
  deploy-teachers: any of: src/teachers/**/*
  deploy-production-students: any of: src/students/**/*
