Repository TUDelft-MUDE/2024-files: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-draft-students, deploy-teachers, deploy-production-students

.gitlab-ci.yml:

image: alpine:latest

stages:
  - deploy

before_script:
  - apk add --no-cache curl

deploy-draft-students:
  stage: deploy
  script:
    - |
      curl -X POST https://mude.citg.tudelft.nl/hooks/files-deploy-students-draft \
        -H "Content-Type: application/json" \
        -H "X-Gitlab-Token: glpat-Lohnt8MN6nWzpcwyhprL" \
        -d '{
          "object_kind": "pipeline",
          "object_attributes": {
            "status": "success",
            "ref": "main"
          }
        }'
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - src/students/**/*
      when: always

deploy-teachers:
  stage: deploy
  script:
    - |
      curl -X POST https://mude.citg.tudelft.nl/hooks/files-deploy-teachers \
        -H "Content-Type: application/json" \
        -H "X-Gitlab-Token: glpat-Lohnt8MN6nWzpcwyhprL" \
        -d '{
          "object_kind": "pipeline",
          "object_attributes": {
            "status": "success",
            "ref": "main"
          }
        }'
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - src/teachers/**/*
      when: always

deploy-production-students:
  stage: deploy
  script:
    - |
      curl -X POST https://mude.citg.tudelft.nl/hooks/files-deploy-students \
        -H "Content-Type: application/json" \
        -H "X-Gitlab-Token: glpat-Lohnt8MN6nWzpcwyhprL" \
        -d '{
          "object_kind": "pipeline",
          "object_attributes": {
            "status": "success",
            "ref": "publish"
          }
        }'
  rules:
    - if: $CI_COMMIT_BRANCH == "publish"
      changes:
        - src/students/**/*
      when: always

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

test rsync
  src/students/test_student
  src/teachers/test_teacher
Due: deploy-draft-students, deploy-teachers, deploy-production-students

Update file test_teacher
  src/teachers/test_teacher
Due: deploy-teachers

Update 2 files
  src/students/test_student
  src/teachers/test_teacher
Due: deploy-draft-students, deploy-teachers, deploy-production-students

Add new file
  src/teachers/test2.txt
Due: deploy-teachers

Update file test.txt
  src/teachers/test.txt
Due: deploy-teachers

GA 1.4
  content/GA_1_4/Analysis_solution.ipynb
  content/GA_1_4/setup.py
Due: none

WS 1.4
  content/Week_1_4/WS_1_4_solution.ipynb
  content/Week_1_4/data/well_levels.csv
  content/Week_1_4/figures/response.png
Due: none

WS 1.4 intermediate
  content/Week_1_4/WS_1_4_solution.ipynb
Due: none

GA1.4 link
  content/GA_1_3/README.md
Due: none

1.4 lecture slides
  src/students/Week_1_4/Lecture_1_4.pdf
  src/students/Week_1_4/Lecture_1_4_Announcements.pdf
Due: deploy-draft-students, deploy-production-students

GA 1.4 readme with link
  src/students/GA_1_3/README.html
Due: deploy-draft-students, deploy-production-students

WS 1.4
  content/Week_1_4/WS_1_4_solution.ipynb
Due: none

WS 1.4 ready for review
  content/Week_1_4/WS_1_4_Nonlinear_Rain.ipynb
  content/Week_1_4/WS_1_4_solution.ipynb
  src/teachers/Week_1_4/WS_1_4_Nonlinear_Rain.html
  src/teachers/Week_1_4/WS_1_4_files_for_review.zip
  src/teachers/Week_1_4/WS_1_4_solution.html
Due: deploy-teachers

First version
  content/GA_1_4/Report.md
  content/GA_1_4/Report_solution.md
Due: none

observations numbers and unitless k
  content/GA_1_3/Report_solution.md
Due: none

add serge files
  content/GA_1_4/Analysis_solution.ipynb
  content/GA_1_4/Report.md
  content/GA_1_4/Report_solution.md
  content/GA_1_4/functions.py
Due: none

small changes
  content/GA_1_4/Report.md
  content/GA_1_4/Report_solution.md
Due: none

WS 1.4 typo
  content/Week_1_4/WS_1_4_solution.ipynb
Due: none

WS 1.4 replace forward with functional
  content/Week_1_4/WS_1_4_Nonlinear_Rain.ipynb
  content/Week_1_4/WS_1_4_solution.ipynb
Due: none

WS 1.4 update
  content/Week_1_4/WS_1_4_Nonlinear_Rain.ipynb
  content/Week_1_4/WS_1_4_solution.ipynb
  src/teachers/Week_1_4/WS_1_4_Nonlinear_Rain.html
  src/teachers/Week_1_4/WS_1_4_files_for_review.zip
  src/teachers/Week_1_4/WS_1_4_solution.html
Due: deploy-teachers

First proposal PA
  content/week_1_5/PA/README.md
  content/week_1_5/PA/auxiliary_files/convert.py
  content/week_1_5/PA/auxiliary_files/mude.svg
  content/week_1_5/PA/auxiliary_files/no_wrap.png
  content/week_1_5/PA/crossword.md
Due: none

update
  content/GA_1_4/Analysis_solution.ipynb
Due: none

GA 1.4 html
  src/teachers/GA_1_4/Analysis_solution.html
Due: deploy-teachers

convergence update
  content/GA_1_4/Report_solution.md
Due: none

Adjusted names in the code for consistency
  content/Week_1_4/WS_1_4_Nonlinear_Rain.ipynb
  content/Week_1_4/WS_1_4_solution.ipynb
Due: none

WS 1.4small typos
  content/Week_1_4/WS_1_4_solution.ipynb
Due: none

WS 1.4 update teachers files
  src/teachers/Week_1_4/WS_1_4_Nonlinear_Rain.html
  src/teachers/Week_1_4/WS_1_4_files_for_review.zip
  src/teachers/Week_1_4/WS_1_4_solution.html
Due: deploy-teachers

add WS 1.5
  content/week_1_5/WS_1_5_solution.ipynb
  content/week_1_5/linspace.jpg
Due: none
