Repository TUDelft-MUDE/2024-files: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-draft-students, deploy-teachers, deploy-production-students

deploy-draft-students:
  stage: deploy
  script:
  ...

deploy-teachers:
  stage: deploy
  script:
  ...

deploy-production-students:
  stage: deploy
  script:
  ...

add WS 1.5 from isabel
  content/week_1_5/WS_1_5_student_version.ipynb
Due: none

fix typos and replace ... with YOUR_CODE_HERE
  content/week_1_5/WS_1_5_student_version.ipynb
Due: none

Tutorial update
  src/students/Tutorials/Week_1_5/Tutorial.ipynb
  src/students/Tutorials/Week_1_5/data/data.csv
  src/students/Tutorials/Week_1_5/harmonic_series.csv
Due: deploy-draft-students, deploy-production-students

GA 1.4 solution
  src/students/GA_1_4/Analysis_solution.html
  src/students/GA_1_4/Report_solution.html
Due: deploy-draft-students, deploy-production-students

1.5 slides
  src/students/Week_1_5/Lecture_1_5.pdf
  src/students/Week_1_5/Lecture_1_5_Announcements.pdf
Due: deploy-draft-students, deploy-production-students

WS 1.5 for review
  src/teachers/Week_1_5/WS_1_5_solution.html
  src/teachers/Week_1_5/WS_1_5_solution.ipynb
  src/teachers/Week_1_5/WS_1_5_student_version.html
  src/teachers/Week_1_5/WS_1_5_student_version.ipynb
Due: deploy-teachers

change to impacts, temp database
  content/GA_1_7/Distribution_Fitting_HE.ipynb
  content/GA_1_7/data_HT.csv
  content/GA_1_7/level_height.csv
Due: none

update notebook
  content/GA_1_7/Distribution_Fitting_HE.ipynb
Due: none

correcting typo
  content/week_1_5/WS_1_5_student_version.ipynb
Due: none

Making x_val the same as in student version
  content/week_1_5/WS_1_5_solution.ipynb
Due: none

tutorial 1.5 hteml
  src/students/Tutorials/Week_1_5/Tutorial.html
Due: deploy-draft-students, deploy-production-students

WS 1.5 ready
  content/week_1_5/WS_1_5_dont_integr_hate.ipynb
  content/week_1_5/WS_1_5_solution.ipynb
  src/students/Week_1_5/WS_1_5_dont_integr_hate.html
  src/students/Week_1_5/WS_1_5_dont_integr_hate.ipynb
  src/teachers/Week_1_5/WS_1_5_dont_integr_hate.html
  src/teachers/Week_1_5/WS_1_5_dont_integr_hate.ipynb
  src/teachers/Week_1_5/WS_1_5_solution.ipynb
Due: deploy-draft-students, deploy-teachers, deploy-production-students

week 1.6 keep
  content/Week_1_6/.gitkeep
Due: none

add image
  src/students/Week_1_5/WS_1_5_dont_integr_hate.zip
  src/students/Week_1_5/linspace.jpg
Due: deploy-draft-students, deploy-production-students

GA 1.5 review
  content/GA_1_5/GA_1_5_Analysis_solution.ipynb
  content/GA_1_5/GA_1_5_Analysis_student.ipynb
  content/GA_1_5/Report.md
  content/GA_1_5/Report_solution.md
  content/GA_1_5/justIce.csv
  content/week_1_5/WS_1_5_solution.html
  src/teachers/GA_1_5/GA_1_5_Analysis_solution.html
  src/teachers/GA_1_5/GA_1_5_Analysis_student.html
  src/teachers/GA_1_5/GA_1_5_files_for_review.zip
  src/teachers/GA_1_5/Report.html
  src/teachers/GA_1_5/Report_solution.html
Due: deploy-teachers

WS 1.5 Solution
  src/students/Week_1_5/WS_1_5_solution.html
Due: deploy-draft-students, deploy-production-students

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

pipeline change and test
  .gitlab-ci.yml
  src/students/test
Due: deploy-draft-students, deploy-production-students

delete test file
  src/students/test
Due: deploy-draft-students, deploy-production-students

added possible PA6 debugging challenge
  content/Week_1_6/PA/PA-6_Challenge_A
  content/Week_1_6/PA/PA6-Challenges_A.py
Due: none

added missing custom raise exception
  content/Week_1_6/PA/PA6-Challenges_A.py
Due: none

GA 1.5 nb update
  content/GA_1_5/GA_1_5_Analysis.ipynb
  content/GA_1_5/GA_1_5_Analysis_solution.ipynb
  content/GA_1_5/GA_1_5_Analysis_student.ipynb
Due: none

GA 1.5 report and nb
  content/GA_1_5/GA_1_5_Analysis.ipynb
  content/GA_1_5/GA_1_5_Analysis_solution.ipynb
  content/GA_1_5/Report.md
  content/GA_1_5/Report_solution.md
Due: none

GA 1.5 review ready
  src/teachers/GA_1_5/GA_1_5_Analysis.html
  src/teachers/GA_1_5/GA_1_5_Analysis_solution.html
  src/teachers/GA_1_5/GA_1_5_files_for_review.zip
  src/teachers/GA_1_5/Report.html
  src/teachers/GA_1_5/Report_solution.html
Due: deploy-teachers

GA 1.5 axes and unit corrections
  content/GA_1_5/GA_1_5_Analysis.ipynb
  content/GA_1_5/GA_1_5_Analysis_solution.ipynb
Due: none

readme
  content/GA_1_5/README.md
Due: none

changed FE to FD and BE to BD
  content/GA_1_5/GA_1_5_Analysis.ipynb
Due: none

made same changes to solutions
  content/GA_1_5/GA_1_5_Analysis_solution.ipynb
Due: none

spellcheck and added legend to last plot
  content/GA_1_5/GA_1_5_Analysis.ipynb
  content/GA_1_5/GA_1_5_Analysis_solution.ipynb
Due: none

added to task 2.0
  content/GA_1_5/GA_1_5_Analysis.ipynb
Due: none

Last changed for ga
  content/GA_1_5/GA_1_5_Analysis.ipynb
  content/GA_1_5/GA_1_5_Analysis_solution.ipynb
Due: none

GA 1.5 ready
  content/GA_1_5/GA_1_5_Analysis_solution.ipynb
  content/GA_1_5/Report.md
Due: none

GA 1.5 ready
  content/GA_1_5/Analysis.html
  content/GA_1_5/Analysis.ipynb
  content/GA_1_5/Analysis_solution.html
  content/GA_1_5/Analysis_solution.ipynb
  content/GA_1_5/README.html
  content/GA_1_5/README.md
  content/GA_1_5/Report.html
  content/GA_1_5/Report_solution.html
Due: none

GA 1.5 publish
  content/GA_1_5/Report_solution.html
  src/students/GA_1_5/README.html
  src/teachers/GA_1_5/Analysis.html
  src/teachers/GA_1_5/Analysis_solution.html
  src/teachers/GA_1_5/GA_1_5_Analysis.html
  src/teachers/GA_1_5/GA_1_5_Analysis_solution.html
  src/teachers/GA_1_5/GA_1_5_files_for_review.zip
  src/teachers/GA_1_5/README.html
  src/teachers/GA_1_5/Report.html
Due: deploy-draft-students, deploy-teachers, deploy-production-students

fixed solution
  content/GA_1_5/Analysis_solution.ipynb
Due: none

fixed bug
  content/GA_1_5/Analysis_solution.ipynb
Due: none

Upload New File
  content/Week_1_6/PA/A_mistake_that_shows_no_errors.py
Due: none

A work in progress file assembling some small bugs
  content/Week_1_6/PA/Some_small_bugs.py
Due: none

update 2.0
  content/GA_1_5/Analysis_solution.ipynb
Due: none

PA 1.5
  content/week_1_5/PA/PA_1_5_solution.ipynb
  content/week_1_5/PA/PA_1_5_useful_tricks.ipynb
  src/students/Week_1_5/PA_1_5_solution.html
  src/students/Week_1_5/PA_1_5_useful_tricks.html
Due: deploy-draft-students, deploy-production-students

Path conditions:
  deploy-draft-students: any of: src/students/**/*
  deploy-teachers: any of: src/teachers/**/*
  deploy-production-students: any of: src/students/**/*
